@suppa:registry=https://git.modern-expo.com/api/v4/projects/106/packages/npm/
//git.modern-expo.com/api/v4/projects/106/packages/npm/:_authToken=s_M7PcPBSxRMKKmuzeLi
@suppa:registry=https://git.modern-expo.com/api/v4/projects/114/packages/npm/
//git.modern-expo.com/api/v4/projects/114/packages/npm/:_authToken=s_M7PcPBSxRMKKmuzeLi

